.imageCarousel{
    margin-bottom: 32px;
}
.imageCarousel .carousel{
    width: 110%;
    padding:0;
    margin-bottom: 80px;
}
.imageCarousel .title{
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 20px;
    padding-left: 5px;
}
.imageCarousel :global(.frameBox){
    position: relative;
    overflow: hidden;
}
.imageCarousel .box{
    padding: 10px;
    padding-bottom: 10px;
}
.imageCarousel .box a{
    display:block;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.imageCarousel .box .img{
    aspect-ratio: 160/213;
}
.imageCarousel .box .txtBox{
    padding: 20px;
}
.imageCarousel .box .title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #98836B;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-align: center;
}
.imageCarousel .box .txt{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    font-size: 22px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;    
}
.imageCarousel :global(button.slick-prev),
.imageCarousel :global(button.slick-next)
{
    top:24px;
    width: 32px;
    height: 32px;
}
.imageCarousel :global(button.slick-prev:before), 
.imageCarousel :global(button.slick-next:before)
{
    content: '';
}
.imageCarousel :global(.slick-list),
.imageCarousel :global(.slick-slider)
{
    position:unset;
}
.imageCarousel :global(button.slick-prev){
    left: auto;
    right: 42px;
    background: url(/golden/images/carousel-arraw-l.svg) no-repeat center center;
    background-size: 100%;
    background-color: #F5F4F2;
    z-index: 2;
}
.imageCarousel :global(button.slick-next){
    left: auto;
    right: 0;
    background: url(/golden/images/carousel-arraw-r.svg) no-repeat center center;
    background-size: 100%;
    background-color: #F5F4F2;
    z-index: 2;
}
@media (max-width:767px) {
    .imageCarousel .box{
        padding: 7px;
    }
    .imageCarousel .carousel{
        width: 100%;
    }
    .imageCarousel .title{
        padding-left: 15px;
    }
    .imageCarousel :global(button.slick-prev),
    .imageCarousel :global(button.slick-next)
    {
        top:30px;
    }
    .imageCarousel :global(button.slick-prev){
        left: auto;
        right: 55px;
    }
    .imageCarousel :global(button.slick-next){
        left: auto;
        right: 15px;
    }
    .imageCarousel .carousel .mask{
        display: none;
    }
    .imageCarousel .box .txt{
        font-weight: 600;
        font-size: 20px;
    }
    .imageCarousel :global(.frameBox){
        padding: 0;
        padding-left: 0;
    }
}
