.highlightsPage{
    width: 100%;
    display: block;
    background: linear-gradient(to bottom,  #F6B386 0%,#ffffff 20%);
    overflow: hidden;
    padding-top: 64px;
}

// 焦點新聞區塊
.focusBox .title{
    font-size: 42px;
    margin-bottom: 30px;
}
.focusBox .title.dark{
    color: #fff;
}
.focusBox.dark .title{
    font-size: 42px;
    margin-bottom: 30px;
    background: linear-gradient(to right,  #efebe6 1%,#e3c8a5 49%,#f6f0e8 100%);
    background-clip: text;
    color: transparent;
}
.focusBox .firstNews a{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.focusBox .firstNews .imgBox{
    width: 70%;
    margin-bottom: 30px;
}
.focusBox .img{
    overflow: hidden;
    aspect-ratio: 16/9;
}
.focusBox .firstNews .txtBox{
    width: 30%;
}
.focusBox .time{
    font-weight: 400;
    font-size: 13px;
    color: #98836B;
    margin-bottom: 15px;
}
.focusBox .firstNews .txt,
.focusBox .list .txt
{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.focusBox .firstNews .txt{
    font-size: 28px;
    -webkit-line-clamp: 4;
}
.focusBox .list{
    margin-bottom: 48px;
}
.focusBox .list ul{
    display: flex;
    column-gap: 15px;
}
.focusBox .list ul li{
    border-right: 1px rgba(0,0,0,0.1) solid;
    padding-right: 15px;
}
.focusBox .list ul li:last-child
{
    border-right: 0px;
    padding-right: 0;
}
.focusBox .list .img{
    margin-bottom: 15px;
}
.focusBox .list .txt{
    font-size: 22px;
    -webkit-line-clamp: 3;
}
@media (max-width:1023px) {
    .focusBox .time{
        font-weight: 400;
        font-size: 13px;
        color: #98836B;
        margin-bottom: 5px;
    }
    .focusBox .title{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .focusBox .firstNews .txt{
        font-size: 24px;
        -webkit-line-clamp: 3;
    }
    .focusBox .list .txt{
        font-size: 20px;
        -webkit-line-clamp: 3;
    }
    .focusBox .firstNews{
        margin-bottom: 48px;
    }
    .focusBox .firstNews a{
        display: block;
    }
    .focusBox .firstNews .imgBox{
        width: 100%;
        margin-bottom: 20px;
    }
    .focusBox .firstNews .txtBox{
        width: 100%;
    }
    .focusBox .list ul{
        display: block;
    }
    .focusBox .list ul li{
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-right: 0px rgba(0,0,0,0.1) solid;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .focusBox .list ul li:last-child{
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: 0px;
    }
    .focusBox .list ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }
    .focusBox .list .imgBox{
        width: 35%;
        display: flex;
        align-items: center;
    }
    .focusBox .list .imgBox .img{
        margin-bottom: 0;
    }
    .focusBox .list .txtBox{
        width: 65%;
    }
    .focusBox .list .img{
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .focusBox .list .img img {
        transform: scale(2);
        transform-origin: center center;
    }
}
// 焦點新聞區塊ed


// 人物專訪
.interview{
    margin: 48px 0;
}
.interview .title{
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 24px;
}
.interview .box{
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}
.interview .box a{
    display: flex;
    align-items: center;
}
.interview .box .imgBox{
    width: 50%;
    line-height: 0;
    aspect-ratio: 1/1;
}
.interview .box .txtBox{
    width: 50%;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.interview .box .title,
.interview .box .txt{
    width: 100%;
    font-family: "Zen Old Mincho";
}
.interview .box .title{
    font-weight: 600;
    font-size: 22px;
    color: #98836B;
    margin-bottom: 10px;
}
.interview .box .txt{
    font-weight: 600;
    font-size: 28px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
}
@media (max-width:1023px) {
    .interview{
        margin: 0;
    }
    .interview .box .imgBox,
    .interview .box .txtBox
    {
        width: 100%;
    }
    .interview .box .txtBox{
        padding:20px;
    }
    .interview .box a{
        display: block;
    }
    .interview .box .title{
        font-size: 20px;
    }
    .interview .box .txt{
        font-size: 24px;
    }
}
// 人物專訪 ed

// 編輯精選
.featured{
    margin: 48px 0;
}
.featured .title{
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 24px;
}
.featured .box{
    background-color: #fff;
}
.featured .box a{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.featured .box .imgBox{
    width: 55%;
    line-height: 0;
    overflow: hidden;
}
.featured .box .txtBox{
    width: 45%;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.featured .box .title,
.featured .box .txt{
    width: 100%;
    font-family: "Zen Old Mincho";
}
.featured .box .title{
    font-weight: 600;
    font-size: 28px;
    color: #98836B;
    margin-bottom: 24px;
}
.featured .box .txt{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 24px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
}
.featured .box .authorBox{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #B4B4B7;
}
.featured .box .authorBox .author .t1{
    color: #141324;
}
.featured .box .authorBox .img{
    width: 24px;
    aspect-ratio: 1/1;
    overflow: hidden;
    line-height: 0;
    border-radius: 60px;
}
@media (max-width:1023px) {
    .featured{
        margin: 0;
    }
    .featured .box .imgBox,
    .featured .box .txtBox
    {
        width: 100%;
    }
    .featured .box .txtBox{
        padding:20px 0;
    }
    .featured .box a{
        display: block;
    }
    .featured .box .title{
        font-size: 24px;
    }
    .featured .box .txt{
        font-size: 20px;
    }
}
// 編輯精選 ed
