.imageCarousel3 .carousel{
    width: 130%;
    padding:0;
}
.imageCarousel3 .title{
    font-size: 42px;
    margin-bottom: 20px;
    padding-left: 5px;
}
.imageCarousel3 :global(.frameBox){
    position: relative;
    overflow: hidden;
}
.imageCarousel3 .box{    
    padding: 7px;
    padding-bottom: 30px;
}
.imageCarousel3 .box .img{
    aspect-ratio: 160/213;
    margin-bottom: 20px;
}
.imageCarousel3 .box .txt{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    font-size: 22px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.imageCarousel3 :global(button.slick-prev),
.imageCarousel3 :global(button.slick-next)
{
    top:40px;
    width: 32px;
    height: 32px;
}
.imageCarousel3 :global(button.slick-prev:before), 
.imageCarousel3 :global(button.slick-next:before)
{
    content: '';
}
.imageCarousel3 :global(.slick-list),
.imageCarousel3 :global(.slick-slider)
{
    position:unset;
}
.imageCarousel3 :global(button.slick-prev){
    left: auto;
    right: 42px;
    background: url(/golden/images/carousel-arraw-l.svg) no-repeat center center;
    background-size: 100%;
    background-color: #F5F4F2;
    z-index: 2;
}
.imageCarousel3 :global(button.slick-next){
    left: auto;
    right: 0;
    background: url(/golden/images/carousel-arraw-r.svg) no-repeat center center;
    background-size: 100%;
    background-color: #F5F4F2;
    z-index: 2;
}
@media (max-width:767px) {
    .imageCarousel3 .carousel{
        width: 150%;
    }
    .imageCarousel3 .title{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .imageCarousel3 :global(button.slick-prev),
    .imageCarousel3 :global(button.slick-next)
    {
        top:85px;
    }
    .imageCarousel3 :global(button.slick-prev){
        left: auto;
        right: 55px;
    }
    .imageCarousel3 :global(button.slick-next){
        left: auto;
        right: 15px;
    }
    .imageCarousel3 .carousel .mask{
        display: none;
    }
    .imageCarousel3 .box .txt{
        font-weight: 600;
        font-size: 20px;
    }
    .imageCarousel3 .carousel{
        padding:50px 0;
    }
    .imageCarousel3 :global(.frameBox){
        padding: 0;
        padding-left: 15px;
    }
}
