.imageCarousel2{
    position: relative;
}
.imageCarousel2 .title{
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 20px;
    padding-left: 8px;
}
.imageCarousel2 .carousel{
    width: 100%;
}
.imageCarousel2 :global(.frameBox){
    position: relative;
}
.imageCarousel2 .box{
    padding: 8px;
}
.imageCarousel2 .box a{
    position: relative;
    overflow: hidden;
}
.imageCarousel2 .box .txtBox{
    position: absolute;
    bottom: 0;
    padding:100px 15px 15px 15px;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50% ,rgba(0,0,0,1) 100%); 
}
.imageCarousel2 .box .txtBox .name{
    font-weight: 500;
    font-size: 13px;
    color: #F0D4AD;
    margin-bottom: 5px;
}

.imageCarousel2 .box .img{
    position: relative;
    overflow: hidden;
    aspect-ratio: 270/360;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.imageCarousel2 .box .txt{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    font-size: 22px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.imageCarousel2 :global(button.slick-prev),
.imageCarousel2 :global(button.slick-next)
{
    top:20px;
    width: 32px;
    height: 32px;
}
.imageCarousel2 :global(button.slick-prev:before), 
.imageCarousel2 :global(button.slick-next:before)
{
    content: '';
}
.imageCarousel2 :global(.slick-list),
.imageCarousel2 :global(.slick-slider)
{
    position:unset;
}
.imageCarousel2 :global(button.slick-prev){
    left: auto;
    right: 50px;
    background: url(/golden/images/carousel-arraw-l2.svg) no-repeat center center;
    background-size: 100%;
    z-index: 2;
}
.imageCarousel2 :global(button.slick-next){
    right: 7px;
    background: url(/golden/images/carousel-arraw-r2.svg) no-repeat center center;
    background-size: 100%;
    z-index: 2;
}
@media (max-width:767px) {
    .imageCarousel2 :global(button.slick-prev),
    .imageCarousel2 :global(button.slick-next)
    {
        top:20px;
    }
    .imageCarousel2{
        position: relative;
    }
    .imageCarousel2 .carousel{
        width: 150%;
    }
    .imageCarousel2 .carousel .mask{
        display: none;
    }
    .imageCarousel2 .box .txt{
        font-size: 20px;
    }
    .imageCarousel2 :global(.frameBox){
        overflow: hidden;
        padding: 0;
        position: unset;
        padding-left: 13px;
    }
    .imageCarousel2 :global(button.slick-prev){
        left: auto;
        right: 57px;
    }
    .imageCarousel2 :global(button.slick-next){
        right: 15px;
    }
}
// 彈出燈箱
.imageLightBox{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    top:0;
    z-index: 3;
    display: none;
}
.imageLightBox.show{
    display: block;
}
.imageLightBox .box{
    max-width: 1280px;
    margin:0 auto;
    padding:100px 30px 0;
}
.imageLightBox .titleBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.imageLightBox .imgBox{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
    background-color: #ccc;
}
.imageLightBox .imgBox{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageLightBox .imgBox img{
    width: auto;
    height: 100%;
}
.imageLightBox .txtBox{
    padding: 15px 30px;
    background-color: #fff;
    color: #0F0E1B;
}
.imageLightBox .txtBox{
    padding: 15px 30px;
    background-color: #fff;
    color: #0F0E1B;
}
.imageLightBox .box .nameBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imageLightBox .box .page{
    color: #aaaaaa;
    font-weight: 600;
    font-size: 13px;
}
.imageLightBox .box .name{
    font-weight: 600;
    font-size: 13px;
    color: #AB8A49;
    margin-bottom: 10px;
}
.imageLightBox .box .txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.imageLightBox .box .time{
    font-weight: 400;
    font-size: 13px;
    color: #8B8182;
}
.imageLightBox .box .xx{
    width: 32px;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.picList{
    max-width: 900px;
    margin: 0 auto;
}
// 彈出燈箱 ed