.homePage .kvBox{
    color: #fff;
    background: url(/golden/images/kv-img.webp) no-repeat center top;
    background-attachment: fixed;
}
.homePage .kvBox .head,
.homePage .kvBox .logo,
.homePage .kvBox .txtBox
{
    width: 100%;
}
.homePage .kvBox .txtBox br{
    display: none;
}
.homePage .kvBox :global(.frameBox){
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.homePage .kvBox .logo{
    display: flex;
    justify-content: center;
}
.homePage .kvBox .logo .img{
    width: 330px;
}
.homePage .kvBox .txtBox .txt{
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.homePage .kvBox .txtBox .time{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

@media (max-width:1023px) {
    .homePage .kvBox .txtBox br{
        display: block;
    }
    .homePage .kvBox .txtBox .time{
        font-size: 32px;
    }
}
@media (max-width:450px) {
    .homePage .kvBox .logo .img{
        width: 70%;
    }
}
@media (max-width:359px) {
    .homePage .kvBox .txtBox .time{
        font-size: 28px;
    }
}

// 獎項區塊
.awardsBox .list{
    margin-bottom: 30px;
}
.awardsBox .list li{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom:1px solid #EFEBE6;
}
.awardsBox .list li:last-child{
    margin-bottom: 0px;
    padding-bottom: 0;
    border-bottom: 0px;
}
.awardsBox .list li a{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.awardsBox .imgBox{
    width: 20%;
}
.awardsBox .txtBox{
    width: 75%;
}
.awardsBox .imgBox .img{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1/1; 
    line-height: 0;   
}
.awardsBox .title{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;    
}
.awardsBox .txt{
    font-weight: 500;
    font-size: 13px;
    color: #8B8182;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.awardsBox .arraw{
    width: 16px;
    height: 16px;
    aspect-ratio: 1/1; 
    line-height: 0;
}
@media (max-width:1023px) {
    .awardsBox .list li{
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom:1px solid #EFEBE6;
    }
    .awardsBox .list{
        margin-bottom: 24px;
    }
    .awardsBox .list li a{
        column-gap: 15px;
    }    
    .awardsBox .title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .awardsBox .txt{
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
    }
}
@media (max-width:450px) {
    .awardsBox .imgBox{
        width: 30%;
    }
    .awardsBox .txtBox{
        width: 65%;
    }
}
@media (max-width:359px) {
    .awardsBox .title{
        font-size: 20px;
    }
}

// 獎項區塊 ed

// 焦點新聞區塊
.focusBox .title{
    font-size: 42px;
    margin-bottom: 30px;
}
.focusBox.dark .title{
    font-size: 42px;
    margin-bottom: 30px;
    background: linear-gradient(to right,  #efebe6 1%,#e3c8a5 49%,#f6f0e8 100%);
    background-clip: text;
    color: transparent;
}
.focusBox .firstNews a{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.focusBox .firstNews .imgBox{
    width: 70%;
    margin-bottom: 30px;
}
.focusBox .img{
    overflow: hidden;
    aspect-ratio: 16/9;
}
.focusBox .firstNews .txtBox{
    width: 30%;
}
.focusBox .time{
    font-weight: 400;
    font-size: 13px;
    color: #98836B;
    margin-bottom: 15px;
}
.focusBox .firstNews .txt,
.focusBox .list .txt
{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.focusBox .firstNews .txt{
    font-size: 28px;
    -webkit-line-clamp: 4;
}
.focusBox .list{
    margin-bottom: 48px;
}
.focusBox .list ul{
    display: flex;
    column-gap: 15px;
}
.focusBox .list ul li{
    border-right: 1px rgba(0,0,0,0.1) solid;
    padding-right: 15px;
}
.focusBox .list ul li:last-child
{
    border-right: 0px;
    padding-right: 0;
}
.focusBox .list .img{
    margin-bottom: 15px;
}
.focusBox .list .txt{
    font-size: 22px;
    -webkit-line-clamp: 3;
}
@media (max-width:1023px) {
    .focusBox .time{
        font-weight: 400;
        font-size: 13px;
        color: #98836B;
        margin-bottom: 5px;
    }
    .focusBox .title{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .focusBox .firstNews .txt{
        font-size: 24px;
        -webkit-line-clamp: 3;
    }
    .focusBox .list .txt{
        font-size: 20px;
        -webkit-line-clamp: 3;
    }
    .focusBox .firstNews{
        margin-bottom: 48px;
    }
    .focusBox .firstNews a{
        display: block;
    }
    .focusBox .firstNews .imgBox{
        width: 100%;
        margin-bottom: 20px;
    }
    .focusBox .firstNews .txtBox{
        width: 100%;
    }
    .focusBox .list ul{
        display: block;
    }
    .focusBox .list ul li{
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-right: 0px rgba(0,0,0,0.1) solid;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .focusBox .list ul li:last-child{
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: 0px;
    }
    .focusBox .list ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }
    .focusBox .list .imgBox{
        width: 35%;
        display: flex;
        align-items: center;
    }
    .focusBox .list .imgBox .img{
        margin-bottom: 0;
    }
    .focusBox .list .txtBox{
        width: 65%;
    }
    .focusBox .list .img{
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .focusBox .list .img img {
        transform: scale(2);
        transform-origin: center center;
    }
}
// 焦點新聞區塊ed

// 焦點新聞區塊 深色

.focusBox.dark .firstNews a{
    display: block;
    position: relative;
}
.focusBox.dark .firstNews .imgBox{
    width: 100%;
}
.focusBox.dark .firstNews .txtBox{
    width: 100%;
    position: absolute;
    bottom:0;
    padding:200px 30px 30px;    
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50% ,rgba(0,0,0,1) 100%); 
}
.focusBox.dark .list ul li{
    border-right: 1px rgba(255,255,255,0.1) solid;
    padding-right: 15px;
}
.focusBox.dark .list ul li:last-child{
    border-right: 0px rgba(255,255,255,0.1) solid;
    padding-right: 0;
}
.focusBox.dark .time{
    color: #C7B8AD;
}
.focusBox.dark .firstNews .txt{
    -webkit-line-clamp: 2;
}
@media (max-width:1023px) {
    .focusBox.dark .firstNews .txtBox{
        padding:100px 15px 20px;
    }
    .focusBox.dark .firstNews .img{
        aspect-ratio: 1/1;
    }
    .focusBox.dark .firstNews .img img {
        transform: scale(2);
        transform-origin: center center;
    }
    .focusBox.dark .list ul li{
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    .focusBox.dark .list ul li:last-child{
        border-bottom:0;
    }
}
// 焦點新聞區塊 深色ed

// 精彩瞬間
.playListBox li {
    margin-bottom: 30px;
}
.playListBox li a{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.playListBox .imgBox,
.playListBox .txtBox
{
    width: 50%;
}
.playListBox .img{
    position: relative;
    line-height: 0;
    aspect-ratio: 16/9;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.playListBox .title{
    margin-bottom: 30px;
    font-size: 42px;
}
.playListBox .txt{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    font-size: 22px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
@media (max-width:1023px) {
    .playListBox .title{
        margin-bottom: 30px;
        font-size: 36px;
    }
    .playListBox li a{
        display: block;
    }
    .playListBox .imgBox,
    .playListBox .txtBox{
        width: 100%;
    }
    .playListBox .imgBox{
        margin-bottom:20px;
    }
    .playListBox .txt{
        font-size: 20px;
    }
}
// 精彩瞬間ed
