

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 3px;
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #000;
}
body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto","Noto Sans TC",sans-serif;
  background-color: #fff;
  color: #0F0E1B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,ul {
  list-style: none;
  margin: 0;
  padding: 0
}

img{
    width: 100%;
    height: auto;
}

.display_none{
  display :none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.frameBox {
  width: 900px;
  margin: 0 auto;
}
@media (max-width:1023px) {
  .frameBox {
    width:768px;
    padding:0 20px;
  }
}
@media (max-width:767px) {
  .frameBox {
    width:100%;
  }
}
@media (max-width:359px) {
  .frameBox {
    padding:0 15px;
  }
}

.moreBox a,.moreBox.dark a{
  width: max-content;
  border: 1px solid #000;
  padding:8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 13px;
}
.moreBox a img,.moreBox.dark a img{
  width: 20px;
  aspect-ratio: 1/1;
}
.moreBox.dark a{
  border: 1px solid #ffffff;
}

// 文章區塊
article section{
  padding: 48px 0;
}
// 文章區塊 ed

.bgColor01{
  background-color: #fff;
}
.bgColor02{
  background-color: #F5F4F2;
}
.bgColor03{
  background-color: #141324;
  color: #fff;
}

.playIcon{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playIcon .icon{
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  background: url(/golden/images/play-icon.png) no-repeat center center;
}

// 廣告欄位
.adBox{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ad-pc{
  display: block;
}
.ad-mo{
  display:none;
}
.height-90{
  min-height: 90px;
}
.height-100{
  min-height: 100px;
}
.height-250{
  min-height: 250px;
}

.pd48{
  padding: 48px;
}
.pd-t48{
  padding-top: 48px;
}
.pd-b48{
  padding-bottom: 48px;
}

@media (max-width:1023px) {
  .ad-pc{
    display:none;
  }
  .ad-mo{
    display: block;
  }
}

#news_pc_index_top,
#news_pc_other_index_list1,
#news_pc_index_d1,
#news_m_index_top,
#news_m_index_popup,
#news_m_read_in2,
#news_m_index_d1,
#news_m_index_bottom,
#news_pc_read_top,
#news_pc_read_d1,
#news_m_read_popup,
#news_m_read_top,
#news_m_read_bottom
{
  width:max-content;
  margin: 0 auto;
}

.fixedBottomAd{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: none;
}
.fixedBottomAd.show{
  display: block;
}
.fixedBottomAd.hide{
  display: none;
}
.fixedBottomAd .box{
  position: relative;
  width: 320px;
  min-height: 100px;
  line-height: 0;
  margin: 0 auto;
  background-color: #fff;
}
.fixedBottomAd .box .xx{
  width: 20px;
  position:absolute;
  top:0;
  right: 0;
  aspect-ratio: 1/1;
}

/* underlay */
@media(max-width:1023px) {
  .flyOutBox{
      width: 100%;
      height: 480px;
      position: relative;
      visibility: visible;
      overflow: hidden;
  }
  .flyInBox{
      height: 100%;
      width: 100%;
      position: absolute;
      clip: rect(0,auto,auto,0);
  }
  .flyAd{
      backface-visibility: hidden;
      transform: translate3d(0px, 0px, 0px);
      visibility: visible;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 20%;
      left: 0%;
  }
}
/* underlay end */
// 廣告欄位 ed